# Direct dependencies
mkdocs
Pygments
markdown
pymdown-extensions
mkdocs-material
mkdocs-jupyter
mkdocs-git-revision-date-localized-plugin
git+https://git@github.com/insper-education/active-handout-theme.git@latest
git+https://github.com/insper-education/active-handout-plugins-py.git@af217850d7fe59287c8f46d05adb5b8b3e7ec215
